<html>
	<head>


	</head>
	<body>
		<div>
			<span>credentials.html</span>
		</div>

		<div>
			<section>
				<div><span>Form</span></div>
				<div>
					<form action="#" th:action="@{${flowExecutionUrl}(_eventId=continue)}" th:object="${signup}" method="post">
				   		<div>
				   			<label for="email">Email:</label>
				   			<input name="email" type="text" th:field="*{email}"/>
				   		</div>
				   		<div>
				   			<label for="password">Password:</label>
				   			<input name="password" type="password" th:field="*{password}"/>
				   		</div>
				   		<div>
				   			<input type="submit"/>
				   		</div>
				   	</form>
				</div>
			</section>
			<section>
				<div><span>Links</span></div>
				<div>
					<a th:href="@{${flowExecutionUrl}(_eventId=cancel)}">cancel</a>
				</div>
			</section>
		</div>
	</body>
</html>


