#portfoliowork {
	margin: 50px;	
}

.stalesearch {
	margin-top:150px;
	margin-bottom:140px;
	font-size: 28px;
	    
}

.stalesearch #query {
	width: 80%;
	max-width: 400px;
	padding: .5rem;

}


.stalesearch .btn {
	
	margin: 0;
}

button.btn-md {
	
	font-size: 20px;
    font-family: 'source_sans_proregular';
}

