.form-control {
	border: 2px solid #ddd;
}


.staletable {
	width: 100%;
	margin: 10%;
}


.staletable table {
	width: 80%;
	
}


.staleheader {
	float: left;
    margin-bottom: 20px;
    
    width: 100%;
}

.staleheader img {
	clear: both;
    float: left;
    margin: 3px;
	
}

.staleheader h2 {
	float: left;
    width: 50%;
    margin-left: 5px;
}


.main_menu_bg .navbar-nav>li>a {
	color: red;
}