#portfoliowork {
	margin: 50px;	
}

.stalesearch {
	margin-top: -200px;
	margin-bottom:140px;
	font-size: 25px;
	    
}

.stalesearch form {
	clear:both;
	float:left;
	width:100%;
	margin-left: 10%;
}


.stalesearch #query {
	width: 60%;
	max-width: 400px;
	padding: .25rem;
	float:left;
	margin: 2px;

}


.stalesearch .btn {
	
	margin: 0;
	float:left;
	background-color:gray;
	
}

button.btn-md {
	
	
	font-size: 15px;
    font-family: 'source_sans_proregular';
}

